<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Adjustment Type</h3>
    </div>
    <div class="panel-body">
      <p>Name: <%= @adjustment_type.name %></p>
    </div>
  </div>
  <%= link_to "All Adjustment Types", adjustment_types_path, class: "btn btn-sm btn-primary" %>
</div>