.container
  .col-md-10.col-md-offset-1.panel.panel-default
    .panel-body.new-sales-receipt-form
      h1 New Sales Receipt
      = render 'form'
      = link_to 'Back', sales_receipts_path

javascript:
  $(document).ready(function() {
    $(".add_fields").click();
    $(".choose-product").select2();
    $(document).on('change', '.choose-product', function() {
      var text = $(".choose-product option:selected").text();
      if(text) {
        if(text.match(/Choose/)) {
          if(text.match(/Choose/g).length === 1) {
            $(".add_fields").click();
            $(".choose-product").select2();
            $(".sale-quantity").eq(-2).focus();
          }
        } else {
          $(".add_fields").click();
          $(".choose-product").select2();
          $(".sale-quantity").eq(-2).focus();
        }
      }
    });
    $("#sales_receipt_payment_id").change(function() {
      $(".choose-product").first().focus();
    })
  });