- unless QboConfig.exists?
  ipp:connecttointuit
  script[type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"]
  script intuit.ipp.anywhere.setup({menuProxy: '/path/to/blue-dot', grantUrl: '#{authenticate_quick_books_url}'});
p
= render "card", title: "Products", link: products_path, icon: "barcode"
= render "card", title: "Contacts", link: contacts_path, icon: "users"
= render "card", title: "Orders", link: orders_path, icon: "book"
= render "card", title: "Payments", link: payments_path, icon: "money"
= render "card", title: "Adjustments", link: adjustments_path, icon: "balance-scale"
= render "card", title: "Credentials", link: credentials_path, icon: "key"
= render "card", title: "Inventory", link: inventory_index_path, icon: "dashboard"
= render "card", title: "QBO Accounts", link: qbo_accounts_path, icon: "calculator"
= render "card", title: "Expenses", link: expense_receipts_path, icon: "credit-card"
= render "card", title: "Amazon Statements", body: "Statements", link: amazon_statements_path, icon: "file-text-o"
= render "card", title: "Settings", link: settings_path, icon: "cogs"
= render "card", title: "Locations", link: locations_path, icon: "university"
= render "card", title: "Transfers", link: transfers_path, icon: "exchange"
