- unless QboConfig.exists?
  ipp:connecttointuit
  script[type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"]
  script intuit.ipp.anywhere.setup({menuProxy: '/path/to/blue-dot', grantUrl: '#{authenticate_quick_books_url}'});
p
= render "card", title: "Products", link: products_path, icon: "barcode", button_id: "products"
= render "card", title: "Contacts", link: contacts_path, icon: "users", button_id: "contacts"
= render "card", title: "Orders", link: orders_path, icon: "book", button_id: "orders"
= render "card", title: "Payments", link: payments_path, icon: "money", button_id: "payments"
= render "card", title: "Sales", link: sales_receipts_path, icon: "shopping-cart", button_id: "sales"
= render "card", title: "Adjustments", link: adjustments_path, icon: "balance-scale", button_id: "adjustments"
= render "card", title: "Credentials", link: credentials_path, icon: "key", button_id: "credentials"
= render "card", title: "Inventory", link: inventory_index_path, icon: "dashboard", button_id: "inventory"
= render "card", title: "QBO Accounts", link: qbo_accounts_path, icon: "calculator", button_id: "accounts"
= render "card", title: "Expenses", link: expense_receipts_path, icon: "credit-card", button_id: "expenses"
= render "card", title: "Amazon Statements", body: "Statements", link: amazon_statements_path, icon: "file-text-o", button_id: "statements"
= render "card", title: "Settings", link: settings_path, icon: "cogs", button_id: "settings"
= render "card", title: "Locations", link: locations_path, icon: "university", button_id: "locations"
= render "card", title: "Transfers", link: transfers_path, icon: "exchange", button_id: "transfers"
