.container
  .nested-fields
    .row
      .col-md-2
        .form-group
          = f.label :quantity
          = f.number_field :quantity, class: "form-control"
      .col-md-2
        = f.label :cost
        = f.number_field :cost, class: "form-control"
      .col-md-4
        .form-group.inline
          = f.label :product
          = f.collection_select :product_id, Product.all.order("name"), :id, :name, { prompt: "Choose a Product..." }, { class: "form-control order-product" }
      .col-md-4
        br
        = link_to_remove_association(fa_icon("times lg"), f, class: "btn btn-sm btn-danger", style: "margin-top: 0.5%;")