.container
  .col-md-10.col-md-offset-1.panel.panel-default
    .panel-body.new-order-form
      h1
        | New Order
      = render 'form'
      = link_to 'Back', orders_path

javascript:
  $(document).ready(function() {
    $(".add_fields").click();
    $(".order-product").select2();
    $(".order-quantity").last().focus();
    $(document).on('change', '.order-product', function() {
      var text = $(".order-product option:selected").text();
      if(text) {
        if(text.match(/Choose/)) {
          if(text.match(/Choose/g).length === 1) {
            $(".add_fields").click();
            $(".order-product").select2();
            $(".order-quantity").last().focus();
          }
        } else {
          $(".add_fields").click();
          $(".order-product").select2();
          $(".order-quantity").last().focus();
        }
      }
     });
  });