* {
  color: #FFFFFF;
}

textarea {
  color: black;
}

a {
}

.select2-selection__rendered {
  height: 2.6em !important;
}

.panel-body {
  select {
    height: 2.6em !important;
    border: 2px solid white !important;
    border-radius: 5px !important;
    background-color: #2E2E2E !important;
    display: inline-block;
    font: inherit;
    /*padding: 0.5em 3.5em 0.5em 1em;*/
      /* reset */
    padding: 0 !important;

    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;  
    background-image:
      linear-gradient(45deg, transparent 50%, #2E2E2E 50%),
      linear-gradient(135deg, #2E2E2E 50%, transparent 50%),
      linear-gradient(to right, #3F729B, #3F729B) !important;
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      100% 0 !important;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em !important;
    background-repeat: no-repeat !important;
  }

  select:focus {
    background-image:
      linear-gradient(45deg, black 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, black 50%),
      linear-gradient(to right, gray, gray);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
  }

  select:active {
    background-color: black !important;
  }

  input:not([type=submit]) {
    border: 2px solid white;
    border-radius: 5px !important;
    height: 2.6em !important;
    padding: 0 !important;
  }
  input[type="number"] {
    padding-left: 9% !important;
  }
  input[type="text"] {
    padding-left: 2% !important;
  }
  option {
    color: white;
  }
  .form-control {
    color: white !important;
  }
}
h1 {
  margin-top: 1%;
  margin-bottom: 1%;
  color: #FFFFFF !important;
}

body {
  background-color: #2E2E2E;
}

small {
  time {
    color: #B3E5FC !important;
    font-size: 0.9rem;
  }
}

.modal-content {
  .modal-title {
    color: #3E4551 !important;
  }
  .model-body {
    .form-group {
      margin-botton: 0px !important;
    }
  }
  label {
    color: #3E4551 !important;
  }
  input:not([type=submit]) {
    margin: 0;
    padding: 0;
  }
  input[type="text"], input[type="number"], input[type="email"], input[type="tel"] {
    width: 95% !important;
    padding-left: 2% !important;
  }  
  input {
    border: 1px solid #4B515D !important;
    border-radius: 5px !important;
    color: #3E4551 !important;
  }
  .btn {
    color: white !important;
  }
  span {
    color: red !important;
  }
  select {
    width: 95%;
    border: 1px solid #4B515D !important;
    border-radius: 5px !important;
    color: black !important;
    option {
      color: black !important;
    }
  }  
}

.card-block {
  background-color: #4B515D;
}

.cw-blue {
  background-color: #8DAEE2 !important;
}

.cw-red {
  background-color: #C35A46 !important;
}

.cw-red-text {
  color: #C35A46 !important;
}

.ui-datepicker {
  background-color: #fff;
  border: 1px solid #66AFE9;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(102,175,233,.6);
  display: none;
  margin-top: 4px;
  padding: 10px;
  width: 240px;
}
.ui-datepicker a,
.ui-datepicker a:hover {
  text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
  color: #2A6496;
  -webkit-transition: color 0.1s ease-in-out;
     -moz-transition: color 0.1s ease-in-out;
       -o-transition: color 0.1s ease-in-out;
          transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
  margin-bottom: 4px;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title {
  font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  cursor: default;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  height: 20px;
  line-height: 1;
  margin-top: 2px;
  width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
  float: left;
  text-align: left;
}
.ui-datepicker .ui-datepicker-next {
  float: right;
  text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
  content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
  content: "\e080";
}
.ui-datepicker .ui-icon {
  display: none;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
  width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
  text-align: center;
  padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
  border-radius: 4px;
  -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
     -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
       -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
  background-color: #eee;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
  background-color: #4289cc;
}
.ui-datepicker .ui-datepicker-current-day a {
  color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
  background-color: #fff;
  cursor: default;
}
