<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @adjustment.adjustment_type.name %></h3>
    </div>
    <div class="panel-body">
      <p>Product: <%= @adjustment.product.name %></p>
      <p>Adjusted Quantity: <%= @adjustment.adjusted_quantity %></p>
    </div>
  </div>
  <%= link_to "All Adjustments", adjustments_path, class: "btn btn-sm btn-primary" %>
</div>
