<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @product.name %></h3>
    </div>
    <div class="panel-body">
      <p>Amazon SKU: <%= @product.amazon_sku %></p>
      <p>Price: <%= number_to_currency(@product.price) %></p>
    </div>
  </div>
  <%= link_to "All Products", products_path, class: "btn btn-sm btn-primary" %>
</div>